.circular-gallery {
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.circular-gallery canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
