.liquid-ether-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.liquid-ether-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
